<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- 2 gb -->
    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Toltek.Campus.Courses.dll" stdoutLogEnabled="true" stdoutLogFile="..\..\logs\course\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Afsu" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- Measured in Bytes -->
        <requestLimits maxAllowedContentLength="4294967295" />
        <!-- 4 gb-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: 83c18e69-634a-4782-9c38-eb13c7c8c73a-->
<!--ProjectGuid: 7A727664-8167-4C96-8AE5-B3C88B0F4C46-->